@()
<nav class="navbar navbar-inverse " id="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="@routes.Application.index()">
				Product Catalog</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="@routes.Application.index()">Home</a></li>
				<li><a href="@routes.Products.list()">Products</a></li>
				<li><a href="">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				@if(session.get("email") == null) {
					<li><a href="@routes.Application.login()">
						<span class="glyphicon glyphicon-log-in"></span> Login
					</a></li>
				} else {
					<li><a href="">@session.get("email")</a></li>
					<li><a href="@routes.Application.logout()">Log Out</a></li>
				}
			</ul>
		</div>
	</div>
</nav>